@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body
{
    background:linear-gradient(to right, #df3829 ,#b61848);
}
.container
{
    background-color: #fff;
    margin: 25vh auto;
    padding: 5vw;
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    box-shadow: inset 9px 9px 6px #e29292,inset -9px -9px 6px #e29292;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 9px 9px 11px #976161;
}
.block{
    height: 20vh;
    width: 15vw;
    border-radius: 11px;
}
#hour
{
    color: #df3829;
}

#minute
{
    color: #E6425E;
}

#second
{
    color: #b61848;
}
.dots
{
    color: #E6425E;
}

@media only screen and (min-width: 1300px) {
    h1 {
      font-size: 110px;
    }
  }
@media only screen and (max-width: 850px) {
    .container
    {
        width: 80vw;
    }
    h1 {
      font-size: 80px;
    }
  }
@media only screen and (max-width: 550px) {
    .container
    {
        width: 88vw;
    }
    h1 {
        margin-top: 4vh;
      font-size: 60px;
      margin-left: -10px;
    }
  }
  @media only screen and (max-width: 400px) {
    .container
    {
        width: 88vw;
    }
    h1 {
      font-size: 50px;
      margin-top: 4vh;
      margin-left: -10px;
    }
  }