@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body
{
    background:linear-gradient(to left, #00BC40, #4C3AE3);
}
.container
{
    background-color: #fff;
    margin: 25vh auto;
    padding: 5vw;
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    box-shadow: inset 9px 9px 6px #b3b0b0,inset -9px -9px 6px #b3b0b0;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 11px 11px 6px #b3b0b0;
}
.block{
    height: 20vh;
    width: 15vw;
    padding: 10px;
    border-radius: 11px;
}
#hour
{
    color: #120E43;
}

#minute
{
    color: #5A20CB;
}

#second
{
    color: #3DBE29;
}
.dots
{
    color: #E21717;
}

@media only screen and (min-width: 1300px) {
    h1 {
      font-size: 110px;
    }
  }
@media only screen and (max-width: 850px) {
    .container
    {
        width: 80vw;
    }
    h1 {
      font-size: 90px;
    }
  }
@media only screen and (max-width: 550px) {
    .container
    {
        width: 80vw;
    }
    h1 {
      font-size: 75px;
      margin-left: -10px;
    }
  }
  @media only screen and (max-width: 400px) {
    .container
    {
        width: 85vw;
    }
    h1 {
      font-size: 60px;
      margin-top: 2vh;
      margin-left: -10px;
    }
  }